<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4YZsEMdne-wD2-p1o34ilgCjYrfe0kRg</string>
	<key>GCM_SENDER_ID</key>
	<string>256895682935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leq.p14ypr0o</string>
	<key>PROJECT_ID</key>
	<string>app596-c065d</string>
	<key>STORAGE_BUCKET</key>
	<string>app596-c065d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256895682935:ios:9ff06d3da62177a253f972</string>
</dict>
</plist>